
examples/stimulus/__pycache__/
behavior/behavior 1/wd/
*.pyc
*.pyc
behavior/.DS_Store
.DS_Store
maxland_TRAINING01/*
maxland_RECORDING01/*
boards*
experiments*
tasks/iblrig/*
tasks/_iblrig*
users*
subjects*
pybpod-api.log
app.log
app.log
_settings_obj.json

