
examples/stimulus/__pycache__/
behavior/behavior 1/wd/
*.pyc
*.pyc
behavior/.DS_Store
.DS_Store
maxland_TRAINING/*
maxland_RECORDING*
maxland_TESTING*
boards*
experiments*
tasks/iblrig/*
tasks/_iblrig*
subjects*
pybpod-api.log
app.log
app.log
_settings_obj.json

