autoflake==1.4
black==22.1.0
docutils==0.17.1
flake8==4.0.1
fonttools==4.29.1
freetype-py==2.2.0
isort==5.10.1
mypy==0.931
mypy-extensions==0.4.3
mypy-lang==0.5.0
natsort==8.1.0
nose2==0.10.0
pre-commit==2.17.0
pyflakes==2.4.0
pylint==2.12.2
pylint-quotes==0.2.3
pytest==7.0.1
Sphinx==4.4.0
sphinx-docs-theme==1.0.7
readthedocs-sphinx-search==0.1.1
myst-parser==0.17.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tox==3.24.5
tox-gh-actions==2.9.1
typing_extensions==4.0.1
virtualenv==20.13.1
nose2==0.10.0
